* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

a {
  text-decoration: none;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  color: #000;
  background: #fff;
  text-transform: uppercase;
  border-radius: 100px;
  transition:all 0.2s;

  position: absolute;
}

a::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 100px;
  background-color: #fff;
  transition: all 1s;

  z-index: -1;
}

a:hover:before {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.6);
}

a:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
a:active {
  transform: translateY-(1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}