* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: crimson;
}

.btn {
  border: none;
  padding: 1rem 4rem;
  background: rgba(17, 17, 137, 0.824);
  color: white;
  font-size: 22px;
  position: relative;
  cursor: pointer;
  /* transition:all 1s ease; */
}

.btn::before {
  content: "";
  height: 24px;
  width: 24px;
  border-top: 4px solid darkblue; 
  border-left: 4px solid darkblue;
  /* background-color: teal; */


  position: absolute;
  top: -10px;
  left: -10px;
  transition:all 0.25s ease;
}

.btn::after {
  content: "";
  height: 24px;
  width: 24px;
  border-bottom: 4px solid darkblue;
  border-right: 4px solid darkblue;
  /* background-color: teal; */

  position: absolute;
  right: -10px;
  bottom: -10px;
  transition:all 0.25s ease;
} 

.btn:hover:before,
.btn:hover:after {
  height: 100%;
  width: 100%;
}